.container {
    display: grid;
    grid-row: 4;
    grid-column: 4;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 1140px;
    margin: 0 auto;
}

.large-image {
    grid-row: span 2;
    width: 100%;
}

.small-image {
    width: 100%;
}